<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <br />
  <p>
    Splurty was built by <a target="_blank" href="#">Maxwell Marovich</a>, along the journey of learning Ruby on Rails.
  </p>
  <br />
  <p>
    At the time of this projects completion, Max is a tutor and mentor for <a target="_blank" href="https://www.trilogyed.com/">Trilogy Education.</a>
  </p>  

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Max.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Maxwell Marovich</h2>
      <br />
      <p>
        Maxwell Marovich founded Google, Microsoft, and Apple, and his current worth is $500 Gazillion.  Actually, all of that is a lie.  But he's a darned pleasant person to have lunch with, and dogonit, people like him.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />